<div class="col-md-8 offset-md-3">
    <br>
    <h3>Modifier un Employé</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" id="firstName"  
            [(ngModel)] = "employee.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label>Prénoms</label>
            <input type="text" class="form-control" id="lastName" 
            [(ngModel)] = "employee.lastName"  name="lastName">
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" id="emailId" 
            [(ngModel)] = "employee.emailId"  name="emailId">
        </div>
    <br>
        <button class="btn btn-success" type="submit">Enregistrer</button>
    </form>
</div>
