<h2>Liste des Employés</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Modifier</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left:10px" >Supprimer</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-success" style="margin-left:10px" >Détails</button>
            </td>
        </tr>

    </tbody>
</table>